[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

karelia = {git = "https://github.com/pouncysilverkitten/karelia/"}
multiprocess = "*"


[dev-packages]

